{% load humanize %}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/js/tabulator.min.js"
            integrity="sha512-xu/xzHeJxvPLt6tuy68mvBtY4XCDpGmMe1AV4+S1viFUvy0Qygmoq1yePeDenRRNRSqYx3GvucTAnsGiO0FRaA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/js/jquery_wrapper.min.js"
            integrity="sha512-Q+u5tqLUv7zbQ1QBm6Pcwc2N2PbqrRC//Ze2YGnlSe5TBbO0KrCYZ/WvgjTlNnzVtOHU9pNoztQjJxpSXa5boQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/css/tabulator.min.css"
          integrity="sha512-gHU0A38WiT7Jyubh7KcU6af64wRVBnNEB1541Ue5W050dRL/f21IWkAD8sl85nVjPyLnbffiXsCborGDQ55bYQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script type="application/javascript">
        let rewardStatistics = {{ reward_statistics|safe }};
        let anonymousStatistics = {{ anonymous_statistics|safe }};
        let decimalStatistics = {{ decimal_statistics|safe }};
        let decimalWarStatistics = {{ decimal_war_statistics|safe }};
        let decimalWarStreamStatistics = {{ decimal_war_stream_statistics|safe }};
        let moneyFormatterParams = {"symbol": "$"};
        function percentage(cell, formatterParams, onRendered) {
            return Math.round(cell.getValue() * 100) / 100 + " %"
        }
        $(document).ready(function () {
            $("#reward-statistics").tabulator({
                data: rewardStatistics,
                layout: "fitColumns",
                height: 500,
                columns: [
                    {"title": "Reward name", "field": "name"},
                    {"title": "Count", "field": "count", "width": 100},
                    {"title": "Total raised", "field": "total", "formatter": "money",
                     "formatterParams": moneyFormatterParams, "width": 200},
                    {"title": "Raised over base price", "field": "raised_over_base", "formatter": "money",
                     "formatterParams": moneyFormatterParams, "width": 200},
                    {"title": "Percentage of total", "field": "percentage_of_total", "formatter": percentage,
                     "width": 200},
                    {"title": "Base price", "field": "base_price", "formatter": "money",
                     "formatterParams": moneyFormatterParams, "width": 200},
                    {"title": "Average donation", "field": "average", "formatter": "money",
                     "formatterParams": moneyFormatterParams, "width": 200},
                ]
            });
            $("#anonymous-statistics").tabulator({
                data: anonymousStatistics,
                layout: "fitColumns",
                columns: [
                    {"title": "Who", "field": "who"},
                    {"title": "Count", "field": "count", "width": 100},
                    {"title": "Total raised", "field": "total", "formatter": "money",
                     "formatterParams": moneyFormatterParams, "width": 200},
                ]
            });
            let decimalWarColumns = [
                {"title": "Total after decimal", "field": "after_decimal"},
                {"title": "Minutes", "field": "minutes"},
                {"title": "Percentage of total", "field": "percentage_of_total", "formatter": percentage},
            ];
            $("#decimal-war-statistics").tabulator({
                data: decimalWarStatistics,
                layout: "fitColumns",
                height: 250,
                columns: decimalWarColumns,
            });
            $("#decimal-war-stream-statistics").tabulator({
                data: decimalWarStreamStatistics,
                layout: "fitColumns",
                height: 250,
                columns: decimalWarColumns,
            });
        })

    </script>

    <title>{{ object }}</title>
</head>
<body>
<div style="max-width: 1500px">
    <table id="reward-statistics"></table>
</div>
<div style="max-width: 500px; margin-top: 50px">
    <table id="anonymous-statistics"></table>
</div>
<div style="max-width: 500px; margin-top: 50px">
    <table id="decimal-statistics"></table>
</div>
<div style="max-width: 500px; margin-top: 50px">
    <table id="decimal-war-statistics"></table>
</div>
<div style="max-width: 500px; margin-top: 50px">
    <table id="decimal-war-stream-statistics"></table>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Question</th>
            <th>Created</th>
            <th>Finished</th>
            <th>Total raised</th>
            <th>Option</th>
            <th>Raused</th>
        </tr>
        </thead>
        <tbody>
        {% for poll in polls %}
            <tr>
                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.name }}</td>
                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.created_at }}</td>
                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.updated_at }}</td>
                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.total }}</td>
            {% for option in poll.option_set.all %}
                {% if not forloop.first %}
                    <tr>
                {% endif %}
                    <td>{% if poll.winning == option %}<strong>{% endif %}{{ option.name }}{% if poll.winning == option %}</strong>{% endif %}</td>
                    <td>{% if poll.winning == option %}<strong>{% endif %}${{ option.total_amount_raised|floatformat:2|intcomma }}{% if poll.winning == option %}</strong>{% endif %}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

</body>

</html>


