{% load humanize %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/js/tabulator.min.js"
            integrity="sha512-xu/xzHeJxvPLt6tuy68mvBtY4XCDpGmMe1AV4+S1viFUvy0Qygmoq1yePeDenRRNRSqYx3GvucTAnsGiO0FRaA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/js/jquery_wrapper.min.js"
            integrity="sha512-Q+u5tqLUv7zbQ1QBm6Pcwc2N2PbqrRC//Ze2YGnlSe5TBbO0KrCYZ/WvgjTlNnzVtOHU9pNoztQjJxpSXa5boQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.3/css/tabulator.min.css"
          integrity="sha512-gHU0A38WiT7Jyubh7KcU6af64wRVBnNEB1541Ue5W050dRL/f21IWkAD8sl85nVjPyLnbffiXsCborGDQ55bYQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script type="application/javascript">
        let rewardStatistics = {{ reward_statistics|safe }};
        let anonymousStatistics = {{ anonymous_statistics|safe }};
        let decimalStatistics = {{ decimal_statistics|safe }};
        let decimalWarStatistics = {{ decimal_war_statistics|safe }};
        let decimalWarStreamStatistics = {{ decimal_war_stream_statistics|safe }};
        let moneyFormatterParams = {"symbol": "$"};

        function percentage(cell, formatterParams, onRendered) {
            return Math.round(cell.getValue() * 100) / 100 + " %"
        }

        $(document).ready(function () {
            $("#reward-statistics").tabulator({
                data: rewardStatistics,
                layout: "fitColumns",
                height: 800,
                columns: [
                    {"title": "Reward name", "field": "name"},
                    {"title": "Count", "field": "count", "width": 100},
                    {
                        "title": "Total raised", "field": "total", "formatter": "money",
                        "formatterParams": moneyFormatterParams, "width": 200
                    },
                    {
                        "title": "Raised over base price", "field": "raised_over_base", "formatter": "money",
                        "formatterParams": moneyFormatterParams, "width": 200
                    },
                    {
                        "title": "Percentage of total", "field": "percentage_of_total", "formatter": percentage,
                        "width": 200
                    },
                    {
                        "title": "Base price", "field": "base_price", "formatter": "money",
                        "formatterParams": moneyFormatterParams, "width": 200
                    },
                    {
                        "title": "Average donation", "field": "average", "formatter": "money",
                        "formatterParams": moneyFormatterParams, "width": 200
                    },
                ]
            });
            $("#decimal-statistics").tabulator({
                data: decimalStatistics,
                layout: "fitColumns",
                height: 800,
                columns: [
                    {"title": "After decimal", "field": "after_decimal"},
                    {"title": "Amount", "field": "amount"},
                ]
            });
            $("#anonymous-statistics").tabulator({
                data: anonymousStatistics,
                layout: "fitColumns",
                columns: [
                    {"title": "Who", "field": "who"},
                    {"title": "Count", "field": "count", "width": 100},
                    {
                        "title": "Total raised", "field": "total", "formatter": "money",
                        "formatterParams": moneyFormatterParams, "width": 200
                    },
                ]
            });

            let decimalWarColumns = [
                {"title": "Total after decimal", "field": "after_decimal"},
                {"title": "Minutes", "field": "minutes"},
                {"title": "Percentage of total", "field": "percentage_of_total", "formatter": percentage},
            ];
            $("#decimal-war-statistics").tabulator({
                data: decimalWarStatistics,
                layout: "fitColumns",
                columns: decimalWarColumns,
            });
            $("#decimal-war-stream-statistics").tabulator({
                data: decimalWarStreamStatistics,
                layout: "fitColumns",
                columns: decimalWarColumns,
            });
        })

    </script>

    <title>{% if object.name %}{{ object.name }}{% else %}{{ object }}{% endif %}</title>

    <style>
        .tab-pane {
            margin: 10px;
        }

        footer {
            padding: 5px;
        }

        #myTabContent {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="rewards-tab" data-bs-toggle="tab" data-bs-target="#rewards-tab-pane"
                type="button"
                role="tab" aria-controls="rewards-tab-pane" aria-selected="true">
            Reward statistics
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="anonymous-tab" data-bs-toggle="tab" data-bs-target="#anonymous-tab-pane"
                type="button"
                role="tab" aria-controls="anonymous-tab-pane" aria-selected="false">
            Anonymous statistics
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="decimal-stats-tab" data-bs-toggle="tab" data-bs-target="#decimal-stats-tab-pane"
                type="button"
                role="tab" aria-controls="decimal-stats-tab-pane" aria-selected="false">
            Decimal value statistics
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="decimal-war-tab" data-bs-toggle="tab" data-bs-target="#decimal-war-tab-pane"
                type="button" role="tab" aria-controls="decimal-war-tab-pane" aria-selected="false">
            Decimal war
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="polls-tab" data-bs-toggle="tab" data-bs-target="#polls-tab-pane"
                type="button" role="tab" aria-controls="polls-tab-pane" aria-selected="false">
            Polls
        </button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="rewards-tab-pane" role="tabpanel" aria-labelledby="rewards-tab"
         tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Reward statistics</h2>
                    {% if object.stats_refresh_finished %}
                        <p>Data last retrieved {{ object.stats_refresh_finished|date:"N j, Y, P T" }}</p>
                    {% endif %}
                    <div style="max-width: 1500px">
                        <table id="reward-statistics"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="anonymous-tab-pane" role="tabpanel" aria-labelledby="anonymous-tab" tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Anonymous statistics</h2>
                    {% if object.stats_refresh_finished %}
                        <p>Data last retrieved {{ object.stats_refresh_finished|date:"N j, Y, P T" }}</p>
                    {% endif %}
                    <div style="max-width: 500px; margin: 0 auto;">
                        <table id="anonymous-statistics"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="decimal-stats-tab-pane" role="tabpanel" aria-labelledby="decimal-stats-tab"
         tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Decimal value statistics</h2>
                    {% if object.stats_refresh_finished %}
                        <p>Data last retrieved {{ object.stats_refresh_finished|date:"N j, Y, P T" }}</p>
                    {% endif %}
                    <div style="max-width: 500px; margin: 0 auto">
                        <table id="decimal-statistics"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="decimal-war-tab-pane" role="tabpanel" aria-labelledby="decimal-war-tab" tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Decimal wars</h2>
                    {% if object.stats_refresh_finished %}
                        <p>Data last retrieved {{ object.stats_refresh_finished|date:"N j, Y, P T" }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Overall</h3>
                    <div style="max-width: 500px; margin-top: 50px">
                        <table id="decimal-war-statistics"></table>
                    </div>
                </div>
                <div class="col">
                    <h3>During stream</h3>
                    <div style="max-width: 500px; margin-top: 50px">
                        <table id="decimal-war-stream-statistics"></table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="tab-pane fade" id="polls-tab-pane" role="tabpanel" aria-labelledby="polls-tab" tabindex="0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Polls</h2>
                    {% if object.polls_refresh_finished %}
                        <p>Data last retrieved {{ object.polls_refresh_finished|date:"N j, Y, P T" }}</p>
                    {% endif %}
                    <table class="table" style="max-width: 2000px; margin: 0 auto;">
                        <thead>
                        <tr>
                            <th>Question</th>
                            <th style="min-width: 190px">Created (UTC)</th>
                            <th style="min-width: 190px">Finished (UTC)</th>
                            <th style="min-width: 120px">Total raised</th>
                            <th style="min-width: 250px">Option</th>
                            <th style="min-width: 120px">Raised</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for poll in polls %}
                            <tr>
                                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.name }}</td>
                                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.created_at }}</td>
                                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.updated_at }}</td>
                                <td rowspan="{{ poll.option_set.all|length }}">{{ poll.total }}</td>
                                {% for option in poll.option_set.all %}
                                    {% if not forloop.first %}
                                        <tr>
                                    {% endif %}
                                <td>{% if poll.winning == option %}<strong>{% endif %}{{ option.name }}
                                    {% if poll.winning == option %}
                                        </strong>{% endif %}</td>
                                <td>{% if poll.winning == option %}<strong>{% endif %}
                                    ${{ option.total_amount_raised|floatformat:2|intcomma }}
                                    {% if poll.winning == option %}
                                        </strong>{% endif %}</td>
                                </tr>
                                {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer fixed-bottom text-center bg-light">
    Generated: {{ now|date:"N j, Y, P T" }}.
    Developed by <a href="https://twitter.com/miki_cz" target="_blank">Miki</a>,
    source on <a target="_blank" href="https://github.com/mikicz/p4a-portal">GitHub</a>.
</footer>

</body>

</html>
